The following explains the various methods to read data in Python including popular formats such as CSV, Text, Excel, SQL, SAS, Stata, and R Data. Loading data into the Python environment is the first step in any data analysis project.

In [1]:
#Importing pandas package

import pandas as pd

C:\Users\KURIA\AppData\Local\Temp\ipykernel_18188\2976089940.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## 1. importing CSV

To import a CSV file into Python, we can use the read_csv( ) function from the pandas package. It is important to note that a singlebackslash does not work when specifying the file path. You need to either change it to forward slash or add one more backslash like below.

In [4]:
#You need the path to your csv file
#Use pd.read_csv

path = r"C:\Users\KURIA\Downloads\MusicData.csv"

df = pd.read_csv(path)

df.head()

  ?Format Metric  Year  Number of Records Value (Actual)
0      CD  Units  1973                  1            NaN
1      CD  Units  1974                  1            NaN
2      CD  Units  1975                  1            NaN
3      CD  Units  1976                  1            NaN
4      CD  Units  1977                  1            NaN

In [9]:
#Importing from a url

url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
df1 = pd.read_csv(url, skiprows=5)

df1.head()

     5  3.6  1.4   .2  Setosa
0  5.4  3.9  1.7  0.4  Setosa
1  4.6  3.4  1.4  0.3  Setosa
2  5.0  3.4  1.5  0.2  Setosa
3  4.4  2.9  1.4  0.2  Setosa
4  4.9  3.1  1.5  0.1  Setosa

## 2. Read Text File
We can use read_table() function to pull data from text file. We can also use read_csv() with sep= "\t" to read data from tab-separated file.

In [12]:
path = r"C:\Users\KURIA\Documents\text\ex1.txt"
path2 = r"C:\Users\KURIA\Documents\text\ex2.txt"

df3 = pd.read_table(path)
df3

df4= pd.read_csv(path2, sep ="\t")
df4

Empty DataFrame
Columns: [This is a text file, created by Me, date 12th Jan, 2023]
Index: []

## 3. Read Excel File
The read_excel() function can be used to import excel data into Python.